:root {
    --primary-1:  hsl(27, 88%, 80%);
    --primary-2: hsl(27, 88%, 90%);
    --text-1: hsl(27, 88%, 35%);
    --text-2: hsl(27, 88%, 25%);
    --text-black: hsl(5, 33%, 7%);
    --bg: hsl(27, 88%, 95%);
}

@font-face {
    font-family: 'Google Sans';
    src: url('GoogleSans-Regular.woff2') format('woff2'),
        url('GoogleSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Google Sans';
    margin: 0;
    padding: 0;     
}

body {
    background-color: var(--bg);
}
.main {
    margin: 0;
    padding: 0;
}

.sidebar {
    margin: 0;
    padding: 0; 
    background-color: var(--primary-1);
    height: 100%;
    width: 10ch;
    position: fixed;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1ch;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.sidebar a {
    display: flex;
    flex-direction: column;
    color: var(--text-1);
    padding: 6px;
    text-decoration: none;
    width: 80%;
    border-radius: 100px;
    margin: 1ch;
}

.sidebar a.active {
    background-color: hsl(27, 88%, 60%);
    color: hsl(27, 88%, 25%);
    padding: 1ch;
    border-radius: 4ch;
}
  
  /* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: hsla(27, 88%, 60%);
    transition: 0.3s;
    color: white;
    border-radius: 100px;
    width: 80%;
}

.container .fancy-lil-header {
    background-color: var(--primary-1);
    color: var(--text-1);
    height: 4ch;
    width: auto;
    border-radius: 4ch;
    padding: 1ch;
    margin: 1ch;
    text-align: center;
    vertical-align: middle;
    line-height: 41px;   
    position: relative;
    
}

.desc, p {
    margin: 1ch;
}
.y-container {
    background-color: var(--primary-2);
    height: 260px;
    width: auto;
    margin: 1ch;
    border-radius: 4ch;
    position: absolute;
    overflow: auto;
}

.string-container {
    padding: 1ch;
}

button {
    border-radius: 100%;
    border: none;
    background-color: hsla(27, 88%, 80%, 0.6);
    backdrop-filter: blur(2px);
    width: 6ch;
    height: 6ch;
}

.buttons {
    margin: 1ch;
    padding: 1ch;
    position:sticky;
    bottom:0;
    left:0;
    margin-left:0; 
}

div.container {
    margin-left: 110px;
    padding: 1px 16px;
    height: 1000px;
    color: var(--text-black);
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: fixed;
      top: 0;
    }
    div.container {margin-left: 0;}

  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
    }
  }

code {
    background-color: rgba(201, 201, 201, 0.582);
    border-radius: 5px;
    font-family: Consolas;
    padding: 2px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-1);
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(27, 88%, 70%);
  border-radius: 10px;
}